.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.main-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 450px;
  margin: 5px 0px;
}

.rocket-image {
  width: 120px;
  height: 140px;
}

.info-container {
  display: flex;
  flex-direction: row;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  text-align: left
}

.text-header {
  width: fit-content;
  color: rgb(114, 182, 238);
}

.text {
  width: 100%;
  word-wrap: break-word;
  width: fit-content;
}

.mars-image {
  width: 180px;
  height: 180px;
}

.timer {
  margin: 0px 5px;
}


@media only screen and (max-width: 950px) {
  .main-row {
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    margin-right: none;
    align-items: center;
    text-align: center
  }

  .timers-holder {
    flex-direction: column;
    align-items: center;
  }
}

.wobble-animation {
  transform: rotate(25deg);
  animation: wobbleRotation 3s ease 0s infinite normal forwards;
}

@keyframes wobbleRotation {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}
