body {
  background-image: url("assets/images/background.svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input, 
textarea,
button, 
html {
  color: white;
  font-family: 'Pattaya', Arial, sans-serif;
}